In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "Resources/CrowdfundingData.csv"

# Read our Crowdfunding data into pandas
df = pd.read_csv(file)
df.head()

,id,name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category
0,0,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1448690400,1450159200,False,False,food/food trucks
1,1,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1408424400,1408597200,False,True,music/rock
2,2,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1384668000,1384840800,False,False,technology/web
3,3,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1565499600,1568955600,False,False,music/rock
4,4,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1547964000,1548309600,False,False,theater/plays

In [3]:
# Get a list of all of our columns for easy reference
df.columns

Index(['id', 'name', 'blurb', 'goal', 'pledged', 'outcome', 'backers_count',
       'country', 'currency', 'launched_at', 'deadline', 'staff_pick',
       'spotlight', 'category'],
      dtype='object')

In [4]:
# Extract "name", "goal", "pledged", "outcome", "country", "staff_pick",
# "backers_count", and "spotlight"
reduced_crowdfunding_df = df.loc[:, ["name", "goal", "pledged",
                                    "outcome", "country", "staff_pick", "backers_count", "spotlight"]]
reduced_crowdfunding_df

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight
0,"Baldwin, Riley and Jackson",100,0,failed,CA,False,0,False
1,Odom Inc,1400,14560,successful,US,False,158,True
2,"Melton, Robinson and Fritz",108400,142523,successful,AU,False,1425,False
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False
4,Larson-Little,7600,5265,failed,US,False,53,False
...,...,...,...,...,...,...,...,...
995,Manning-Hamilton,97300,153216,successful,US,False,2043,True
996,Butler LLC,6600,4814,failed,US,False,112,False
997,Ball LLC,7600,4603,canceled,IT,False,139,False
998,"Taylor, Santiago and Flores",66600,37823,failed,US,False,374,True
999,"Hernandez, Norton and Kelley",111100,62819,canceled,US,False,1122,False

In [5]:
# Remove projects that made no money at all
reduced_crowdfunding_df = reduced_crowdfunding_df.loc[(
    reduced_crowdfunding_df["pledged"] > 0)]
reduced_crowdfunding_df.head()

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight
1,Odom Inc,1400,14560,successful,US,False,158,True
2,"Melton, Robinson and Fritz",108400,142523,successful,AU,False,1425,False
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False
4,Larson-Little,7600,5265,failed,US,False,53,False
5,Harris Group,7600,13195,successful,DK,False,174,False

In [6]:
# Collect only those projects that were hosted in the US.

# Create a list of the columns
columns = [
    "name", "goal", "pledged", "outcome", 
    "country", "staff_pick", "backers_count", "spotlight"]

#  Create a new df for "US" with the columns. 
hosted_in_us_df = reduced_crowdfunding_df.loc[reduced_crowdfunding_df["country"] == "US",  columns]
hosted_in_us_df.head()

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight
1,Odom Inc,1400,14560,successful,US,False,158,True
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False
4,Larson-Little,7600,5265,failed,US,False,53,False
9,"Rangel, Holt and Jones",6200,3208,failed,US,False,44,False
10,Green Ltd,5200,13838,successful,US,False,220,False

In [7]:
# Create a new column that finds the average amount pledged to a project
average_donation = hosted_in_us_df['pledged'] / hosted_in_us_df['backers_count']
average_donation

1       92.151899
3      103.208333
4       99.339623
9       72.909091
10      62.900000
          ...
994     87.972684
995     74.995595
996     42.982143
998    101.131016
999     55.988414
Length: 762, dtype: float64

In [8]:
# Create a new column that finds the average amount pledged to a project
hosted_in_us_df["average_donation"] = hosted_in_us_df['pledged'] / \
    hosted_in_us_df['backers_count']

In [9]:
# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation

hosted_in_us_df["average_donation"] = hosted_in_us_df["average_donation"].astype(float).map(
    "${:,.2f}".format)
hosted_in_us_df["goal"] = hosted_in_us_df["goal"].astype(float).map("${:,.2f}".format)
hosted_in_us_df["pledged"] = hosted_in_us_df["pledged"].astype(float).map("${:,.2f}".format)

In [10]:
hosted_in_us_df.head()

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight,average_donation
1,Odom Inc,"$1,400.00","$14,560.00",successful,US,False,158,True,$92.15
3,"Mcdonald, Gonzalez and Ross","$4,200.00","$2,477.00",failed,US,False,24,False,$103.21
4,Larson-Little,"$7,600.00","$5,265.00",failed,US,False,53,False,$99.34
9,"Rangel, Holt and Jones","$6,200.00","$3,208.00",failed,US,False,44,False,$72.91
10,Green Ltd,"$5,200.00","$13,838.00",successful,US,False,220,False,$62.90

In [11]:
# Calculate the total number of backers for all US projects
hosted_in_us_df["backers_count"].sum()

545510

In [12]:
# Calculate the average number of backers for all US projects
hosted_in_us_df["backers_count"].mean()

715.8923884514436

In [13]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
picked_by_staff_df = hosted_in_us_df.loc[hosted_in_us_df["staff_pick"] == True]
picked_by_staff_df

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight,average_donation
76,"Martin, Conway and Larsen","$122,900.00","$95,993.00",failed,US,True,1684,True,$57.00
86,Davis-Smith,"$7,400.00","$12,405.00",successful,US,True,203,False,$61.11
193,"Calhoun, Rogers and Long","$6,600.00","$3,012.00",failed,US,True,65,False,$46.34
205,Weaver-Marquez,"$1,300.00","$5,614.00",successful,US,True,80,False,$70.17
220,Owens-Le,"$7,900.00",$667.00,failed,US,True,17,False,$39.24
221,Huff LLC,"$121,500.00","$119,830.00",failed,US,True,2179,False,$54.99
225,Fox-Quinn,"$67,800.00","$176,398.00",successful,US,True,5880,False,$30.00
259,Watkins Ltd,"$1,800.00","$10,755.00",successful,US,True,138,False,$77.93
291,"Bell, Grimes and Kerr","$1,800.00","$8,219.00",successful,US,True,107,False,$76.81
384,"Baker, Collins and Smith","$114,400.00","$196,779.00",successful,US,True,4799,True,$41.00
395,Taylor PLC,"$7,100.00","$9,238.00",successful,US,True,220,False,$41.99
406,Lyons Inc,"$39,300.00","$71,583.00",successful,US,True,645,False,$110.98
431,Rosales LLC,"$5,100.00","$9,817.00",successful,US,True,94,False,$104.44
492,Garcia Group,"$191,000.00","$45,831.00",canceled,US,True,595,True,$77.03
601,Waters and Sons,"$6,300.00","$13,018.00",successful,US,True,194,False,$67.10
619,Case LLC,"$195,900.00","$55,757.00",failed,US,True,648,True,$86.04
648,Vargas-Cox,"$98,600.00","$62,174.00",canceled,US,True,723,False,$85.99
655,"Gonzalez, Williams and Benson","$6,900.00","$13,212.00",successful,US,True,264,False,$50.05
660,Jensen-Brown,"$9,100.00","$7,438.00",failed,US,True,77,False,$96.60
691,"Ray, Li and Li","$5,000.00","$7,119.00",successful,US,True,237,True,$30.04
701,Mcclain LLC,"$52,000.00","$91,014.00",successful,US,True,820,False,$110.99
703,Perez Group,"$63,400.00","$197,728.00",successful,US,True,2038,True,$97.02
751,Lane-Barber,"$3,600.00","$8,363.00",successful,US,True,270,True,$30.97
765,Matthews LLC,"$3,900.00","$8,125.00",successful,US,True,198,True,$41.04
816,"Jones, Casey and Jones","$2,300.00","$14,150.00",successful,US,True,133,True,$106.39
819,Buck-Khan,"$8,900.00","$4,509.00",failed,US,True,47,False,$95.94
823,Dyer Inc,"$4,100.00","$14,640.00",successful,US,True,252,True,$58.10
846,"Cooper, Stanley and Bryant","$1,000.00","$5,085.00",successful,US,True,48,True,$105.94
850,"Hood, Perez and Meadows",$100.00,$1.00,failed,US,True,1,False,$1.00
858,"Ayala, Crawford and Taylor","$4,000.00","$2,778.00",failed,US,True,35,False,$79.37
906,Hayes Group,"$5,500.00","$8,964.00",successful,US,True,191,True,$46.93
911,"Carter, Cole and Curtis","$5,800.00","$11,539.00",successful,US,True,462,False,$24.98
912,Sanchez-Parsons,"$1,800.00","$14,310.00",successful,US,True,179,False,$79.94
920,"Green, Murphy and Webb","$5,300.00","$9,676.00",successful,US,True,255,False,$37.95
936,Brown Ltd,"$103,200.00","$1,690.00",failed,US,True,21,False,$80.48
941,Luna-Horne,"$43,000.00","$5,615.00",failed,US,True,78,False,$71.99
945,"Sanders, Farley and Huffman","$172,000.00","$55,805.00",failed,US,True,1691,False,$33.00
948,Smith-Hill,"$9,400.00","$5,918.00",canceled,US,True,160,True,$36.99
980,Huff-Johnson,"$195,200.00","$78,630.00",failed,US,True,742,False,$105.97

In [14]:
# Group by the outcome of the campaigns and see if staff picks matter (Seems to matter quite a bit)
outcome_groups = picked_by_staff_df.groupby("outcome")
outcome_groups["name"].count()

outcome
canceled       3
failed        13
successful    23
Name: name, dtype: int64