In [1]:
!ls ../Resources/original/

USC00518316.csv                     USW00022551.csv
USC00519281.csv                     hawaii.csv
USW00022521.csv                     hi_weather_2000_2017_4_stations.csv

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
rootdir = os.getcwd()
resourcesdir = os.path.join(rootdir, "../Resources")
datadir = os.path.join(resourcesdir, "original")
weathercsv = os.path.join(datadir, 'hawaii.csv')

In [4]:
df = pd.read_csv(weathercsv, dtype=object)
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,TOBS
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/1/10,0.08,65
1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/2/10,0,63
2,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/3/10,0,74
3,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/4/10,0,76
4,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/6/10,NaN,73

In [5]:
stations = df.groupby('STATION').count()
stations

             NAME  LATITUDE  LONGITUDE  ELEVATION  DATE  PRCP  TOBS
STATION
USC00511918  1979      1979       1979       1979  1979  1932  1979
USC00513117  2709      2709       2709       2709  2709  2696  2709
USC00514830  2202      2202       2202       2202  2202  1937  2202
USC00516128  2612      2612       2612       2612  2612  2484  2612
USC00517948  1372      1372       1372       1372  1372   683  1372
USC00518838   511       511        511        511   511   342   511
USC00519281  2772      2772       2772       2772  2772  2772  2772
USC00519397  2724      2724       2724       2724  2724  2685  2724
USC00519523  2669      2669       2669       2669  2669  2572  2669

In [6]:
station_list = df.STATION.unique()
station_list

array(['USC00519397', 'USC00513117', 'USC00514830', 'USC00517948',
       'USC00518838', 'USC00519523', 'USC00519281', 'USC00511918',
       'USC00516128'], dtype=object)

In [7]:
# Create STATIONS Table

# Read Source Table
df = pd.read_csv(weathercsv, dtype=object)

# Select the unique stations
df = df.drop_duplicates(subset='STATION')

# Drop the measurement data
df = df.drop(['DATE', 'PRCP', 'TOBS'], axis=1)

# Reset the index 
df = df.reset_index(drop=True)

# Save file
df.to_csv('hawaii_stations.csv', index=False)

In [8]:
# Create MEASUREMENTS Table

# Read Source Table
df = pd.read_csv(weathercsv, dtype=object)

# Drop Station data
df = df.drop(['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION'], axis=1)

# Reset the Index
df = df.reset_index(drop=True)

# Save file
df.to_csv('hawaii_measurements.csv', index=False)

In [9]:
!ls

generate_weather_station_csvs.ipynb hawaii_measurements.csv
hawaii.csv                          hawaii_stations.csv