# Scraping with Pandas

In [1]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States'

In [3]:
tables = pd.read_html(url)
tables

[                             City                       Building  \
                   Albany Congress                Albany Congress
 0                Albany, New York                     Stadt Huys
 1              Stamp Act Congress             Stamp Act Congress
 2              New York, New York                      City Hall
 3      First Continental Congress     First Continental Congress
 4      Philadelphia, Pennsylvania               Carpenters' Hall
 5     Second Continental Congress    Second Continental Congress
 6      Philadelphia, Pennsylvania              Independence Hall
 7             Baltimore, Maryland               Henry Fite House
 8      Philadelphia, Pennsylvania              Independence Hall
 9         Lancaster, Pennsylvania                    Court House
 10             York, Pennsylvania                    Court House
 11     Philadelphia, Pennsylvania                   College Hall
 12  Congress of the Confederation  Congress of the Confederation
 13     Philadelphia, Pennsylvania              Independence Hall
 14          Princeton, New Jersey                    Nassau Hall
 15            Annapolis, Maryland           Maryland State House
 16            Trenton, New Jersey             French Arms Tavern
 17             New York, New York                      City Hall
 18         United States Congress         United States Congress
 19             New York, New York                   Federal Hall
 20     Philadelphia, Pennsylvania                  Congress Hall
 21           District of Columbia          United States Capitol
 22               Washington, D.C.               Blodgett's Hotel
 23               Washington, D.C.              Old Brick Capitol
 24               Washington, D.C.          United States Capitol

                        Start Date                       End Date  \
                   Albany Congress                Albany Congress
 0                   June 19, 1754                  July 11, 1754
 1              Stamp Act Congress             Stamp Act Congress
 2                 October 7, 1765               October 25, 1765
 3      First Continental Congress     First Continental Congress
 4               September 5, 1774               October 26, 1774
 5     Second Continental Congress    Second Continental Congress
 6                    May 10, 1775              December 12, 1776
 7               December 20, 1776              February 27, 1777
 8                   March 5, 1777             September 18, 1777
 9              September 27, 1777             September 27, 1777
 10             September 30, 1777                  June 27, 1778
 11                   July 2, 1778                  March 1, 1781
 12  Congress of the Confederation  Congress of the Confederation
 13                  March 2, 1781                  June 21, 1783
 14                  June 30, 1783               November 4, 1783
 15              November 26, 1783                August 19, 1784
 16               November 1, 1784              December 24, 1784
 17               January 11, 1785                October 6, 1788
 18         United States Congress         United States Congress
 19                  March 4, 1789               December 5, 1790
 20               December 6, 1790                   May 14, 1800
 21              November 17, 1800                August 24, 1814
 22             September 19, 1814               December 7, 1815
 23               December 4, 1815                  March 3, 1819
 24                  March 4, 1819                        present

                            Duration                            Ref
                     Albany Congress                Albany Congress
 0                           22 days                            [8]
 1                Stamp Act Congress             Stamp Act Congress
 2                           23 days                            [9]
 3        First Continental Congress     First Continental Congress
 4               1 month and 21 days                           [10]
 5       Second Continental Congress    Second Continental Congress
 6       1 year, 7 months and 2 days                           [11]
 7               2 months and 7 days                           [12]
 8              6 months and 13 days                           [13]
 9                             1 day                           [13]
 10             8 months and 28 days                           [13]
 11    2 years, 7 months and 27 days                           [14]
 12    Congress of the Confederation  Congress of the Confederation
 13    2 years, 3 months and 19 days                           [14]
 14              4 months and 5 days                           [14]
 15             8 months and 24 days                           [14]
 16              1 month and 23 days                           [14]
 17    3 years, 11 months and 5 days                           [14]
 18           United States Congress         United States Congress
 19       1 year, 9 months and 1 day                           [14]
 20     9 years, 5 months and 8 days                           [14]
 21    13 years, 9 months and 7 days                           [14]
 22     1 year, 2 months and 18 days                           [15]
 23    3 years, 2 months and 27 days                           [16]
 24  201 years, 5 months and 14 days                           [17]  ,
              State         Capital Capital Since Area (mi2)  \
 0          Alabama      Montgomery          1846      159.8
 1           Alaska          Juneau          1906     2716.7
 2          Arizona         Phoenix          1912      517.6
 3         Arkansas     Little Rock          1821      116.2
 4       California      Sacramento          1854       97.9
 5         Colorado          Denver          1867      153.3
 6      Connecticut        Hartford          1875       17.3
 7         Delaware           Dover          1777       22.4
 8          Florida     Tallahassee          1824       95.7
 9          Georgia         Atlanta          1868      133.5
 10          Hawaii        Honolulu          1845       68.4
 11           Idaho           Boise          1865       63.8
 12        Illinois     Springfield          1837       54.0
 13         Indiana    Indianapolis          1825      361.5
 14            Iowa      Des Moines          1857       75.8
 15          Kansas          Topeka          1856       56.0
 16        Kentucky       Frankfort          1792       14.7
 17       Louisiana     Baton Rouge          1880       76.8
 18           Maine         Augusta          1832       55.4
 19        Maryland       Annapolis          1694       6.73
 20   Massachusetts          Boston          1630       89.6
 21        Michigan         Lansing          1847       35.0
 22       Minnesota      Saint Paul          1849       52.8
 23     Mississippi         Jackson          1821      104.9
 24        Missouri  Jefferson City          1826       27.3
 25         Montana          Helena          1875       14.0
 26        Nebraska         Lincoln          1867       74.6
 27          Nevada     Carson City          1861      143.4
 28   New Hampshire         Concord          1808       64.3
 29      New Jersey         Trenton          1784       7.66
 30      New Mexico        Santa Fe          1610       37.3
 31        New York          Albany          1797       21.4
 32  North Carolina         Raleigh          1792      114.6
 33    North Dakota        Bismarck          1883       26.9
 34            Ohio        Columbus          1816      210.3
 35        Oklahoma   Oklahoma City          1910      620.3
 36          Oregon           Salem          1855       45.7
 37    Pennsylvania      Harrisburg          1812       8.11
 38    Rhode Island      Providence          1900       18.5
 39  South Carolina        Columbia          1786      125.2
 40    South Dakota          Pierre          1889       13.0
 41       Tennessee       Nashville          1826      525.9
 42           Texas          Austin          1839      305.1
 43            Utah  Salt Lake City          1858      109.1
 44         Vermont      Montpelier          1805       10.2
 45        Virginia        Richmond          1780       60.1
 46      Washington         Olympia          1853       16.7
 47   West Virginia      Charleston          1885       31.6
 48       Wisconsin         Madison          1838       68.7
 49         Wyoming        Cheyenne          1869       21.1
 50            [18]            [18]          [18]       [18]

    Population (2019 est.) Rank in State
 0                  198525             2
 1                   32113             3
 2                 1680992             1
 3                  197312             1
 4                  513624             6
 5                  727211             1
 6                  122105             3
 7                   38079             2
 8                  194500             7
 9                  506811             1
 10                 345064             1
 11                 228959             1
 12                 114230             6
 13                 876384             1
 14                 214237             1
 15                 125310             4
 16                  27679            14
 17                 220236             2
 18                  18681             8
 19                  39174             7
 20                 692600             1
 21                 118210             5
 22                 308096             2
 23                 160628             1
 24                  42838            15
 25                  32315             6
 26                 289102             2
 27                  55916             6
 28                  43627             3
 29                  83203            10
 30                  84683             4
 31                  96460             6
 32                 474069             2
 33                  73529             2
 34                 898553             1
 35                 655057             1
 36                 174365             3
 37                  49528             9
 38                 179883             1
 39                 131674             2
 40                  13646             8
 41                 670820             1
 42                 978908             4
 43                 200567             1
 44                   7855             6
 45                 230436             4
 46                  46478            24
 47                  46536             1
 48                 259680             2
 49                  64235             1
 50                   [18]          [18]  ,
                Insular area Abr.  Date           Capital  Population (2010)  \
 0            American Samoa   AS  1899         Pago Pago               3656
 1                      Guam   GU  1898           Hagåtña               1051
 2  Northern Mariana Islands   MP  1947            Saipan              48220
 3               Puerto Rico   PR  1898          San Juan             395326
 4       U.S. Virgin Islands   VI  1917  Charlotte Amalie              18481

                                                Notes
 0  Pago Pago refers to both a village and a group...
 1              Dededo is the area's largest village.
 2                                                NaN
 3  The city of San Juan was originally called Pue...
 4                                                NaN  ,
                               State        Capital  Date  \
 0      Alabama[27]Statehood in 1819    San Agustín  1565
 1      Alabama[27]Statehood in 1819       Savannah  1733
 2      Alabama[27]Statehood in 1819       Savannah  1755
 3      Alabama[27]Statehood in 1819       Savannah  1776
 4      Alabama[27]Statehood in 1819   Augusta (GA)  1778
 ..                              ...            ...   ...
 468  Wisconsin[61]Statehood in 1848        Madison  1848
 469    Wyoming[62]Statehood in 1890  Lewiston (ID)  1863
 470    Wyoming[62]Statehood in 1890   Yankton (SD)  1864
 471    Wyoming[62]Statehood in 1890       Cheyenne  1869
 472    Wyoming[62]Statehood in 1890       Cheyenne  1890

                                                  Notes
 0     Capital of the Spanish colony of La Florida.[28]
 1    Capital of the British proprietary Colony of G...
 2          Capital of the British Province of Georgia.
 3                    Capitals of the State of Georgia.
 4                    Capitals of the State of Georgia.
 ..                                                 ...
 468                 Capital of the State of Wisconsin.
 469                 Capital of the Territory of Idaho.
 470                Capital of the Territory of Dakota.
 471               Capital of the Territory of Wyoming.
 472                   Capital of the State of Wyoming.

 [473 rows x 4 columns],
     vteCapitals of the United States by jurisdiction  \
 0  Nation: US Washington, D.C. States: AL Montgom...

   vteCapitals of the United States by jurisdiction.1
 0  Nation: US Washington, D.C. States: AL Montgom...  ,
                  vteUnited States state-related lists  \
 0   List of states and territories of the United S...
 1                                        Demographics
 2                                             Economy
 3                                         Environment
 4                                           Geography
 5                                          Government
 6                                              Health
 7                                             History
 8                                                 Law
 9                                       Miscellaneous
 10                         Category  Commons  Portals

                vteUnited States state-related lists.1
 0   List of states and territories of the United S...
 1   Population African American Amish Asian Birth ...
 2   Billionaires Budgets Companies Credit ratings ...
 3   Botanical gardens Carbon dioxide emissions Par...
 4   Area Bays Beaches Coastline Elevation Extreme ...
 5   Agriculture commissioners Attorneys general Ca...
 6   Fertility rates Hospitals Human Development In...
 7   Date of statehood Name etymologies Historical ...
 8   Abortion Age of consent Alcohol Dry communitie...
 9   Abbreviations Airports Bus transit systems Cas...
 10                         Category  Commons  Portals  ,
   vteLocation of the capital of the United States  \
 0                              Temporary capitals
 1                               Permanent capital

    vteLocation of the capital of the United States.1
 0  Philadelphia (1776; 1777; 1778–1783; 1791–1800...
 1                      Washington, D.C. (since 1800)  ,
   vteState and territorial capitol buildings in the United States  \
 0                                             States
 1                                        Territories

   vteState and territorial capitol buildings in the United States.1
 0  Alabama Alaska Arizona Arkansas California Col...
 1  American Samoa District of Columbia Guam North...                 ]

#### What we get in return is a list of dataframes for any tabular data that Pandas found.

In [4]:
type(tables)

list

#### We can slice off any of those dataframes that we want using normal indexing.

In [5]:
df = tables[0]
df.head()

,City,Building,Start Date,End Date,Duration,Ref
,Albany Congress,Albany Congress,Albany Congress,Albany Congress,Albany Congress,Albany Congress
0,"Albany, New York",Stadt Huys,"June 19, 1754","July 11, 1754",22 days,[8]
1,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress
2,"New York, New York",City Hall,"October 7, 1765","October 25, 1765",23 days,[9]
3,First Continental Congress,First Continental Congress,First Continental Congress,First Continental Congress,First Continental Congress,First Continental Congress
4,"Philadelphia, Pennsylvania",Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,[10]

#### Drop all single header rows

In [6]:
df.columns = df.columns.get_level_values(0)
df = df.loc[df.Ref.str.startswith("[")]
df.head()

,City,Building,Start Date,End Date,Duration,Ref
0,"Albany, New York",Stadt Huys,"June 19, 1754","July 11, 1754",22 days,[8]
2,"New York, New York",City Hall,"October 7, 1765","October 25, 1765",23 days,[9]
4,"Philadelphia, Pennsylvania",Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,[10]
6,"Philadelphia, Pennsylvania",Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",[11]
7,"Baltimore, Maryland",Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,[12]

#### Slipt column values into two separate columns

In [7]:
columnsplit = df['City'].str.split(", ", expand=True)
df = df.assign(City=columnsplit[0],State=columnsplit[1])
df.head()

,City,Building,Start Date,End Date,Duration,Ref,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,[8],New York
2,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,[9],New York
4,Philadelphia,Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,[10],Pennsylvania
6,Philadelphia,Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",[11],Pennsylvania
7,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,[12],Maryland

#### Drop a column

In [8]:
df = df.drop(['Ref'], axis=1)
df.head()

,City,Building,Start Date,End Date,Duration,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,New York
2,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,New York
4,Philadelphia,Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,Pennsylvania
6,Philadelphia,Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",Pennsylvania
7,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,Maryland

#### Reset an index

In [9]:
df = df.reset_index(drop=True)
df.head()

,City,Building,Start Date,End Date,Duration,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,New York
1,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,New York
2,Philadelphia,Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,Pennsylvania
3,Philadelphia,Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",Pennsylvania
4,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,Maryland

In [10]:
df.loc[df.State=="New York"]

,City,Building,Start Date,End Date,Duration,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,New York
1,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,New York
13,New York,City Hall,"January 11, 1785","October 6, 1788","3 years, 11 months and 5 days",New York
14,New York,Federal Hall,"March 4, 1789","December 5, 1790","1 year, 9 months and 1 day",New York

## DataFrames as HTML

#### Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [11]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>City</th>\n      <th>Building</th>\n      <th>Start Date</th>\n      <th>End Date</th>\n      <th>Duration</th>\n      <th>State</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Albany</td>\n      <td>Stadt Huys</td>\n      <td>June 19, 1754</td>\n      <td>July 11, 1754</td>\n      <td>22\xa0days</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>New York</td>\n      <td>City Hall</td>\n      <td>October 7, 1765</td>\n      <td>October 25, 1765</td>\n      <td>23\xa0days</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Philadelphia</td>\n      <td>Carpenters\' Hall</td>\n      <td>September 5, 1774</td>\n      <td>October 26, 1774</td>\n      <td>1\xa0month and 21\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Philadelphia</td>\n      <td>Independence Hall</td>\n      <td>May 10, 1775</td>\n      <td>December 12, 1776</td>\n      <td>1\xa0year, 7\xa0months and 2\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Baltimore</td>\n      <td>Henry Fite House</td>\n      <td>December 20, 1776</td>\n      <td>February 27, 1777</td>\n      <td>2\xa0months and 7\xa0days</td>\n      <td>Maryland</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Philadelphia</td>\n      <td>Independence Hall</td>\n      <td>March 5, 1777</td>\n      <td>September 18, 1777</td>\n      <td>6\xa0months and 13\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Lancaster</td>\n      <td>Court House</td>\n      <td>September 27, 1777</td>\n      <td>September 27, 1777</td>\n      <td>1\xa0day</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>York</td>\n      <td>Court House</td>\n      <td>September 30, 1777</td>\n      <td>June 27, 1778</td>\n      <td>8\xa0months and 28\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Philadelphia</td>\n      <td>College Hall</td>\n      <td>July 2, 1778</td>\n      <td>March 1, 1781</td>\n      <td>2\xa0years, 7\xa0months and 27\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Philadelphia</td>\n      <td>Independence Hall</td>\n      <td>March 2, 1781</td>\n      <td>June 21, 1783</td>\n      <td>2\xa0years, 3\xa0months and 19\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Princeton</td>\n      <td>Nassau Hall</td>\n      <td>June 30, 1783</td>\n      <td>November 4, 1783</td>\n      <td>4\xa0months and 5\xa0days</td>\n      <td>New Jersey</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Annapolis</td>\n      <td>Maryland State House</td>\n      <td>November 26, 1783</td>\n      <td>August 19, 1784</td>\n      <td>8\xa0months and 24\xa0days</td>\n      <td>Maryland</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Trenton</td>\n      <td>French Arms Tavern</td>\n      <td>November 1, 1784</td>\n      <td>December 24, 1784</td>\n      <td>1\xa0month and 23\xa0days</td>\n      <td>New Jersey</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>New York</td>\n      <td>City Hall</td>\n      <td>January 11, 1785</td>\n      <td>October 6, 1788</td>\n      <td>3\xa0years, 11\xa0months and 5\xa0days</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>New York</td>\n      <td>Federal Hall</td>\n      <td>March 4, 1789</td>\n      <td>December 5, 1790</td>\n      <td>1\xa0year, 9\xa0months and 1\xa0day</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Philadelphia</td>\n      <td>Congress Hall</td>\n      <td>December 6, 1790</td>\n      <td>May 14, 1800</td>\n      <td>9\xa0years, 5\xa0months and 8\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>District of Columbia</td>\n      <td>United States Capitol</td>\n      <td>November 17, 1800</td>\n      <td>August 24, 1814</td>\n      <td>13\xa0years, 9\xa0months and 7\xa0days</td>\n      <td>None</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>Washington</td>\n      <td>Blodgett\'s Hotel</td>\n      <td>September 19, 1814</td>\n      <td>December 7, 1815</td>\n      <td>1\xa0year, 2\xa0months and 18\xa0days</td>\n      <td>D.C.</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Washington</td>\n      <td>Old Brick Capitol</td>\n      <td>December 4, 1815</td>\n      <td>March 3, 1819</td>\n      <td>3\xa0years, 2\xa0months and 27\xa0days</td>\n      <td>D.C.</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Washington</td>\n      <td>United States Capitol</td>\n      <td>March 4, 1819</td>\n      <td>present</td>\n      <td>201\xa0years, 5\xa0months and 14\xa0days</td>\n      <td>D.C.</td>\n    </tr>\n  </tbody>\n</table>'

#### You may have to strip unwanted newlines to clean up the table.

In [12]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>City</th>      <th>Building</th>      <th>Start Date</th>      <th>End Date</th>      <th>Duration</th>      <th>State</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Albany</td>      <td>Stadt Huys</td>      <td>June 19, 1754</td>      <td>July 11, 1754</td>      <td>22\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>1</th>      <td>New York</td>      <td>City Hall</td>      <td>October 7, 1765</td>      <td>October 25, 1765</td>      <td>23\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>2</th>      <td>Philadelphia</td>      <td>Carpenters\' Hall</td>      <td>September 5, 1774</td>      <td>October 26, 1774</td>      <td>1\xa0month and 21\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>3</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>May 10, 1775</td>      <td>December 12, 1776</td>      <td>1\xa0year, 7\xa0months and 2\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>4</th>      <td>Baltimore</td>      <td>Henry Fite House</td>      <td>December 20, 1776</td>      <td>February 27, 1777</td>      <td>2\xa0months and 7\xa0days</td>      <td>Maryland</td>    </tr>    <tr>      <th>5</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>March 5, 1777</td>      <td>September 18, 1777</td>      <td>6\xa0months and 13\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>6</th>      <td>Lancaster</td>      <td>Court House</td>      <td>September 27, 1777</td>      <td>September 27, 1777</td>      <td>1\xa0day</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>7</th>      <td>York</td>      <td>Court House</td>      <td>September 30, 1777</td>      <td>June 27, 1778</td>      <td>8\xa0months and 28\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>8</th>      <td>Philadelphia</td>      <td>College Hall</td>      <td>July 2, 1778</td>      <td>March 1, 1781</td>      <td>2\xa0years, 7\xa0months and 27\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>9</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>March 2, 1781</td>      <td>June 21, 1783</td>      <td>2\xa0years, 3\xa0months and 19\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>10</th>      <td>Princeton</td>      <td>Nassau Hall</td>      <td>June 30, 1783</td>      <td>November 4, 1783</td>      <td>4\xa0months and 5\xa0days</td>      <td>New Jersey</td>    </tr>    <tr>      <th>11</th>      <td>Annapolis</td>      <td>Maryland State House</td>      <td>November 26, 1783</td>      <td>August 19, 1784</td>      <td>8\xa0months and 24\xa0days</td>      <td>Maryland</td>    </tr>    <tr>      <th>12</th>      <td>Trenton</td>      <td>French Arms Tavern</td>      <td>November 1, 1784</td>      <td>December 24, 1784</td>      <td>1\xa0month and 23\xa0days</td>      <td>New Jersey</td>    </tr>    <tr>      <th>13</th>      <td>New York</td>      <td>City Hall</td>      <td>January 11, 1785</td>      <td>October 6, 1788</td>      <td>3\xa0years, 11\xa0months and 5\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>14</th>      <td>New York</td>      <td>Federal Hall</td>      <td>March 4, 1789</td>      <td>December 5, 1790</td>      <td>1\xa0year, 9\xa0months and 1\xa0day</td>      <td>New York</td>    </tr>    <tr>      <th>15</th>      <td>Philadelphia</td>      <td>Congress Hall</td>      <td>December 6, 1790</td>      <td>May 14, 1800</td>      <td>9\xa0years, 5\xa0months and 8\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>16</th>      <td>District of Columbia</td>      <td>United States Capitol</td>      <td>November 17, 1800</td>      <td>August 24, 1814</td>      <td>13\xa0years, 9\xa0months and 7\xa0days</td>      <td>None</td>    </tr>    <tr>      <th>17</th>      <td>Washington</td>      <td>Blodgett\'s Hotel</td>      <td>September 19, 1814</td>      <td>December 7, 1815</td>      <td>1\xa0year, 2\xa0months and 18\xa0days</td>      <td>D.C.</td>    </tr>    <tr>      <th>18</th>      <td>Washington</td>      <td>Old Brick Capitol</td>      <td>December 4, 1815</td>      <td>March 3, 1819</td>      <td>3\xa0years, 2\xa0months and 27\xa0days</td>      <td>D.C.</td>    </tr>    <tr>      <th>19</th>      <td>Washington</td>      <td>United States Capitol</td>      <td>March 4, 1819</td>      <td>present</td>      <td>201\xa0years, 5\xa0months and 14\xa0days</td>      <td>D.C.</td>    </tr>  </tbody></table>'

You can also save the table directly to a file.

In [13]:
df.to_html('table.html')

In [14]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html