In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "Resources/veterans.csv"
veterans_df = pd.read_csv(csv_path)
veterans_df.head()

   Year Percentage
0  FY00        72%
1  FY02        74%
2  FY04        75%
3  FY06        80%
4  FY07        83%

In [3]:
veterans_df.columns

Index(['Year', 'Percentage'], dtype='object')

In [4]:
# Converting the "Percentage" column to floats
veterans_df["Percentage"] = veterans_df["Percentage"].str.replace("%", "").astype('float')

# Finding the average percentage of veterans living within 75 miles of a cemetery
veterans_df["Percentage"].mean()

83.0909090909091