In [1]:
import json
import requests
import pandas as pd

In [2]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold characters height and mass
height = []
mass = []
starwars_characters = []

# Loop through each character
for character in search_characters:
    
    # Create search query, make request and store in json
    query = url + character
    response = requests.get(query)
    response_json = response.json()
    
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try:
        height.append(response_json['results'][0]['height'])
        mass.append(response_json['results'][0]['mass'])
        starwars_characters.append(character)
        print(f"{character} found! Appending stats")
        
    # Handle exceptions for a character that is not available in the Star Wars API
    except:
        # Append null values
        print("Character not found")
        pass

R2-D2 found! Appending stats
Darth Vader found! Appending stats
Character not found
Luke Skywalker found! Appending stats
Character not found
Boba Fett found! Appending stats
Character not found
Character not found
Han Solo found! Appending stats

In [3]:
# Create DataFrame
character_height = pd.DataFrame({
    'character': starwars_characters,
    'height': height,
    'mass': mass
})
character_height

        character height  mass
0           R2-D2     96    32
1     Darth Vader    202   136
2  Luke Skywalker    172    77
3       Boba Fett    183  78.2
4        Han Solo    180    80