# Traveling Companions

In this activity you will be taking three separate csvs that were gathered by Tourism Malaysia, merging them together, and then creating charts to visualize a country's change of traveling companions to Malaysia over the course of three years.

### Part 1 - Merging Companions

* You will likely need to perform two different merges over the course of this activity, changing the names of your columns as you go along.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Take in all of our traveler data and read it into pandas
travel_2016 = "../Resources/2016_travelers.csv"
travel_2017 = "../Resources/2017_travelers.csv"
travel_2018 = "../Resources/2018_travelers.csv"

travel_2016_df = pd.read_csv(travel_2016)
travel_2017_df = pd.read_csv(travel_2017)
travel_2018_df = pd.read_csv(travel_2018)

In [3]:
# Merge the first two datasets on "COUNTRY OF NATIONALITY" so that no data is lost (should be 44 rows)
combined_travel_df = pd.merge(travel_2016_df, travel_2017_df,
                                 how='outer', on='COUNTRY OF NATIONALITY')
combined_travel_df.head()

,COUNTRY OF NATIONALITY,ALONE_x,WITH SPOUSE_x,WITH CHILDREN_x,WITH FAMILY/RELATIVES_x,STUDENT GROUP_x,WITH FRIENDS_x,WITH BUSINESS ACCOCIATE_x,WITH INCENTIVE GROUP_x,OTHERS_x,ALONE_y,WITH SPOUSE_y,WITH CHILDREN_y,WITH FAMILY/RELATIVES_y,STUDENT GROUP_y,WITH FRIENDS_y,WITH BUSINESS ACCOCIATE_y,WITH INCENTIVE GROUP_y,OTHERS_y
0,SINGAPORE,18.6,35.5,3.9,23.7,0.1,14.7,2.2,0.4,0.8,20.6,39.4,5.9,22.9,0.2,9.3,1.1,0.1,0.5
1,THAILAND,30.1,16.7,0.9,12.0,3.1,30.2,4.8,1.0,1.2,23.2,17.8,4.2,11.8,4.4,29.3,4.8,2.7,1.8
2,INDONESIA,12.9,24.6,3.8,37.9,0.9,14.9,2.1,1.6,1.2,10.4,28.0,3.9,34.9,0.9,15.5,2.7,2.3,1.4
3,BRUNEI,10.2,24.9,2.2,44.5,0.0,16.2,1.1,0.1,0.7,6.8,21.2,2.2,54.5,0.1,14.2,0.8,0.0,0.0
4,PHILIPPINES,13.9,27.5,1.5,15.0,5.5,34.1,1.1,0.0,1.5,3.5,7.6,0.2,40.0,0.2,46.4,1.9,0.1,0.2

In [4]:
# Rename our _x columns to "2016 Alone", "2016 With Spouse", "2016 With Children", "2016 With Family/Relatives",
# "2016 Student Group", "2016 With Friends", "2016 With Business Associate", "2016 With Incentive Group",
# and "2016 Others"

combined_travel_df = combined_travel_df.rename(columns={"ALONE_x":"2016 Alone",
                                                        "WITH SPOUSE_x":"2016 With Spouse",
                                                        "WITH CHILDREN_x":"2016 With Children",
                                                        "WITH FAMILY/RELATIVES_x":"2016 With Family/Relatives",
                                                        "STUDENT GROUP_x":"2016 Student Group",
                                                        "WITH FRIENDS_x":"2016 With Friends",
                                                        "WITH BUSINESS ACCOCIATE_x":"2016 With Business Associate",
                                                        "WITH INCENTIVE GROUP_x":"2016 With Incentive Group",
                                                        "OTHERS_x":"2016 Others"})

# Rename our _y columns to "2016 Alone", "2016 With Spouse", "2016 With Children", "2016 With Family/Relatives",
# "2016 Student Group", "2016 With Friends", "2016 With Business Associate", "2016 With Incentive Group",
# and "2016 Others"
combined_travel_df = combined_travel_df.rename(columns={"ALONE_y":"2017 Alone",
                                                        "WITH SPOUSE_y":"2017 With Spouse",
                                                        "WITH CHILDREN_y":"2017 With Children",
                                                        "WITH FAMILY/RELATIVES_y":"2017 With Family/Relatives",
                                                        "STUDENT GROUP_y":"2017 Student Group",
                                                        "WITH FRIENDS_y":"2017 With Friends",
                                                        "WITH BUSINESS ACCOCIATE_y":"2017 With Business Associate",
                                                        "WITH INCENTIVE GROUP_y":"2017 With Incentive Group",
                                                        "OTHERS_y":"2017 Others"})

combined_travel_df.head()

,COUNTRY OF NATIONALITY,2016 Alone,2016 With Spouse,2016 With Children,2016 With Family/Relatives,2016 Student Group,2016 With Friends,2016 With Business Associate,2016 With Incentive Group,2016 Others,2017 Alone,2017 With Spouse,2017 With Children,2017 With Family/Relatives,2017 Student Group,2017 With Friends,2017 With Business Associate,2017 With Incentive Group,2017 Others
0,SINGAPORE,18.6,35.5,3.9,23.7,0.1,14.7,2.2,0.4,0.8,20.6,39.4,5.9,22.9,0.2,9.3,1.1,0.1,0.5
1,THAILAND,30.1,16.7,0.9,12.0,3.1,30.2,4.8,1.0,1.2,23.2,17.8,4.2,11.8,4.4,29.3,4.8,2.7,1.8
2,INDONESIA,12.9,24.6,3.8,37.9,0.9,14.9,2.1,1.6,1.2,10.4,28.0,3.9,34.9,0.9,15.5,2.7,2.3,1.4
3,BRUNEI,10.2,24.9,2.2,44.5,0.0,16.2,1.1,0.1,0.7,6.8,21.2,2.2,54.5,0.1,14.2,0.8,0.0,0.0
4,PHILIPPINES,13.9,27.5,1.5,15.0,5.5,34.1,1.1,0.0,1.5,3.5,7.6,0.2,40.0,0.2,46.4,1.9,0.1,0.2

In [5]:
# Merge our newly combined dataframe with the 2018 dataframe
combined_travel_df = pd.merge(combined_travel_df, travel_2018_df, how="outer", on="COUNTRY OF NATIONALITY")
combined_travel_df

,COUNTRY OF NATIONALITY,2016 Alone,2016 With Spouse,2016 With Children,2016 With Family/Relatives,2016 Student Group,2016 With Friends,2016 With Business Associate,2016 With Incentive Group,2016 Others,...,2017 Others,ALONE,WITH SPOUSE,WITH CHILDREN,WITH FAMILY/RELATIVES,STUDENT GROUP,WITH FRIENDS,WITH BUSINESS ACCOCIATE,WITH INCENTIVE GROUP,OTHERS
0,SINGAPORE,18.6,35.5,3.9,23.7,0.1,14.7,2.2,0.4,0.8,...,0.5,16.9,34.6,5.0,25.3,0.7,14.4,0.6,2.5,0.1
1,THAILAND,30.1,16.7,0.9,12.0,3.1,30.2,4.8,1.0,1.2,...,1.8,20.6,6.7,7.2,33.5,1.2,29.8,0.4,0.4,0.2
2,INDONESIA,12.9,24.6,3.8,37.9,0.9,14.9,2.1,1.6,1.2,...,1.4,11.3,31.1,4.0,34.4,1.1,14.7,0.7,2.3,0.5
3,BRUNEI,10.2,24.9,2.2,44.5,0.0,16.2,1.1,0.1,0.7,...,0.0,17.5,28.1,2.0,40.0,0.1,11.6,0.4,0.1,0.1
4,PHILIPPINES,13.9,27.5,1.5,15.0,5.5,34.1,1.1,0.0,1.5,...,0.2,5.5,20.6,0.7,29.5,0.5,39.2,1.6,1.6,0.7
5,VIETNAM,5.8,11.5,0.6,31.0,0.6,35.5,2.7,7.4,5.0,...,5.8,0.9,12.3,2.8,44.2,0.0,30.2,0.6,6.1,3.0
6,CHINA,4.2,30.9,0.7,37.8,0.5,18.4,1.3,2.4,3.7,...,2.2,1.9,23.9,0.7,39.3,0.8,22.1,1.1,9.7,0.4
7,JAPAN,10.9,26.5,0.6,16.4,0.8,18.4,25.6,0.3,0.6,...,0.8,4.2,22.7,0.2,26.3,1.9,25.3,17.4,1.3,0.5
8,SOUTH KOREA,9.4,36.3,0.6,16.3,0.0,28.1,8.1,0.0,1.3,...,0.6,1.6,29.1,0.1,33.5,0.0,28.7,1.0,5.9,0.1
9,TAIWAN,7.8,55.7,1.2,24.6,0.0,9.3,0.3,0.6,0.6,...,0.7,0.3,28.1,0.0,34.3,1.6,31.4,1.5,2.4,0.3
10,INDIA,5.9,30.1,1.3,44.3,0.0,12.1,3.3,1.5,1.6,...,1.6,1.4,19.2,1.0,49.6,0.1,19.3,1.1,7.7,0.6
11,PAKISTAN,12.3,21.3,1.3,28.3,2.5,16.5,8.0,9.0,1.0,...,1.5,4.3,24.2,0.6,29.2,3.5,26.4,5.3,5.3,1.2
12,SAUDI ARABIA,3.3,53.9,0.4,36.5,0.2,4.7,0.9,0.0,0.0,...,0.0,1.1,49.9,0.3,43.7,0.0,4.2,0.7,0.2,0.0
13,UNITED ARAB EMIRATES,11.6,51.2,4.7,20.9,0.0,7.0,4.7,0.0,0.0,...,8.5,1.6,32.2,0.8,50.2,3.1,5.5,2.0,0.0,4.7
14,OMAN,11.3,35.5,1.6,50.0,0.0,0.0,1.6,0.0,0.0,...,0.0,1.2,46.6,0.0,47.1,0.0,3.9,0.0,1.2,0.0
15,KUWAIT,0.0,75.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.5,25.2,0.5,53.3,3.3,5.7,7.1,0.0,4.3
16,IRAN,3.5,18.9,0.2,60.5,0.0,15.2,0.9,0.7,0.2,...,0.4,1.4,27.0,0.0,58.7,0.2,11.0,1.0,0.8,0.0
17,CANADA,27.6,38.7,1.1,7.5,0.0,24.2,0.9,0.0,0.0,...,0.3,12.5,36.0,0.4,18.4,2.7,28.9,1.0,0.0,0.2
18,USA,29.5,40.8,0.7,6.2,0.1,18.1,4.0,0.0,0.6,...,0.8,14.7,38.4,0.7,12.2,0.6,30.7,2.3,0.0,0.4
19,UNITED KINGDOM,23.0,42.7,0.4,9.6,0.2,22.1,2.0,0.0,0.1,...,1.3,10.8,38.5,0.8,19.4,1.0,28.0,1.3,0.0,0.2
20,IRELAND,25.3,44.8,1.1,10.3,2.3,16.1,0.0,0.0,0.0,...,1.4,11.9,43.8,1.5,15.4,0.5,26.5,0.5,0.0,0.0
21,SWEDEN,12.4,47.9,1.3,17.9,0.0,18.8,0.9,0.0,0.9,...,2.1,4.3,42.6,0.3,15.7,0.0,33.1,3.5,0.0,0.5
22,DENMARK,11.9,31.9,3.0,19.3,0.0,31.1,3.0,0.0,0.0,...,0.0,14.0,36.5,0.0,22.1,0.4,25.4,1.2,0.4,0.0
23,FINLAND,20.1,41.5,2.5,15.1,0.0,17.6,2.5,0.0,0.6,...,0.7,14.0,36.5,0.5,7.0,0.0,41.0,0.5,0.0,0.5
24,NORWAY,18.6,47.5,0.0,1.7,0.0,32.2,0.0,0.0,0.0,...,0.0,4.5,26.1,0.0,9.7,11.2,48.5,0.0,0.0,0.0
25,ITALY,15.0,40.9,0.8,7.9,0.0,30.7,4.3,0.0,0.4,...,0.7,7.8,32.5,0.3,15.7,0.2,40.6,2.5,0.5,0.0
26,SPAIN,14.2,41.6,0.4,5.3,0.0,35.8,2.7,0.0,0.0,...,0.3,9.4,42.4,0.2,15.2,0.2,31.8,0.9,0.0,0.0
27,FRANCE,19.4,40.0,0.9,14.0,0.2,22.4,1.4,0.1,1.6,...,1.1,8.3,33.4,1.2,23.3,1.1,31.7,0.8,0.0,0.2
28,BELGIUM,31.2,19.4,2.2,18.3,0.0,29.0,0.0,0.0,0.0,...,1.4,5.7,31.1,1.2,20.5,0.0,34.9,6.6,0.0,0.0
29,NETHERLANDS,17.5,34.6,1.9,19.6,1.3,23.2,1.9,0.0,0.0,...,0.0,10.2,39.2,0.3,16.4,0.5,32.5,0.7,0.0,0.2
30,GERMANY,19.3,42.1,0.5,7.7,0.3,27.4,2.7,0.0,0.0,...,0.1,9.4,42.9,1.6,11.1,0.1,32.2,1.1,1.5,0.1
31,SWITZERLAND,21.3,44.3,0.9,8.3,0.9,23.0,0.4,0.0,0.9,...,0.0,13.7,30.0,0.4,15.6,0.0,40.3,0.0,0.0,0.0
32,RUSSIA,28.6,26.5,1.6,15.3,0.0,26.5,1.6,0.0,0.0,...,0.0,8.0,31.0,1.2,24.7,0.0,32.5,1.7,0.0,0.9
33,AUSTRALIA,18.3,45.8,0.7,14.4,0.5,17.5,1.6,0.1,1.1,...,1.6,9.7,41.6,1.1,19.2,1.2,25.3,1.2,0.1,0.6
34,NEW ZEALAND,11.4,43.4,0.3,17.8,0.3,21.5,5.1,0.0,0.0,...,0.4,13.3,34.6,4.2,19.2,0.0,25.6,1.8,0.0,1.2
35,SOUTH AFRICA,39.7,37.0,0.0,11.0,0.0,8.2,4.1,0.0,0.0,...,0.0,3.3,30.3,2.0,36.8,1.3,20.4,3.9,0.0,2.0
36,CENTRAL ASIA,11.4,23.8,0.9,17.3,2.8,29.0,2.2,8.3,4.3,...,2.8,3.9,24.4,0.7,31.7,6.2,20.7,1.1,6.0,5.3
37,OTHER ASEAN,31.4,5.7,0.0,8.6,0.0,48.6,5.7,0.0,0.0,...,6.7,0.8,23.1,0.3,46.1,0.2,28.1,0.2,0.2,1.0
38,OTHER EAST ASIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.3,16.0,0.8,48.3,0.8,20.7,6.8,4.5,0.0
39,OTHERS SOUTH ASIA,2.7,15.3,2.7,39.6,7.2,13.5,8.1,10.8,0.0,...,0.0,5.2,30.4,1.0,43.3,0.9,15.6,2.0,0.7,0.9
40,OTHERS WEST ASIA,9.3,29.0,1.4,33.8,0.3,19.7,4.8,0.0,1.7,...,0.0,6.2,29.6,0.6,21.7,0.0,39.0,1.7,0.2,1.0
41,OTHERS AMERICAS,28.5,36.3,3.4,11.7,0.0,18.4,1.7,0.0,0.0,...,0.2,9.3,33.0,0.6,18.8,0.0,36.7,1.4,0.1,0.1
42,OTHERS EUROPE,23.2,39.9,0.6,11.7,0.0,21.7,2.7,0.0,0.2,...,0.8,5.3,32.0,0.8,33.0,3.1,20.2,3.2,1.9,0.5
43,OTHERS,16.7,27.5,1.3,24.5,0.9,21.6,2.9,2.6,2.0,...,0.0,18.3,57.1,9.7,7.5,1.6,1.9,3.9,0.0,0.0

In [6]:
# Rename "ALONE", "WITH SPOUSE", "WITH CHILDREN", "WITH FAMILY/RELATIVES", "STUDENT GROUP", "WITH FRIENDS",
# "WITH BUSINESS ACCOCIATE","WITH INCENTIVE GROUP", "OTHERS" to 
# "2018 Alone", "2018 With Spouse", "2018 With Children", "2018 With Family/Relatives", "2018 Student Group", 
# "2018 With Friends", "2018 With Business Associate", "2018 With Incentive Group", and "2018 Others"
combined_travel_df = combined_travel_df.rename(columns={"ALONE":"2018 Alone",
                                                        "WITH SPOUSE":"2018 With Spouse",
                                                        "WITH CHILDREN":"2018 With Children",
                                                        "WITH FAMILY/RELATIVES":"2018 With Family/Relatives",
                                                        "STUDENT GROUP":"2018 Student Group",
                                                        "WITH FRIENDS":"2018 With Friends",
                                                        "WITH BUSINESS ACCOCIATE":"2018 With Business Associate",
                                                        "WITH INCENTIVE GROUP":"2018 With Incentive Group",
                                                        "OTHERS":"2018 Others"})

combined_travel_df.head()

,COUNTRY OF NATIONALITY,2016 Alone,2016 With Spouse,2016 With Children,2016 With Family/Relatives,2016 Student Group,2016 With Friends,2016 With Business Associate,2016 With Incentive Group,2016 Others,...,2017 Others,2018 Alone,2018 With Spouse,2018 With Children,2018 With Family/Relatives,2018 Student Group,2018 With Friends,2018 With Business Associate,2018 With Incentive Group,2018 Others
0,SINGAPORE,18.6,35.5,3.9,23.7,0.1,14.7,2.2,0.4,0.8,...,0.5,16.9,34.6,5.0,25.3,0.7,14.4,0.6,2.5,0.1
1,THAILAND,30.1,16.7,0.9,12.0,3.1,30.2,4.8,1.0,1.2,...,1.8,20.6,6.7,7.2,33.5,1.2,29.8,0.4,0.4,0.2
2,INDONESIA,12.9,24.6,3.8,37.9,0.9,14.9,2.1,1.6,1.2,...,1.4,11.3,31.1,4.0,34.4,1.1,14.7,0.7,2.3,0.5
3,BRUNEI,10.2,24.9,2.2,44.5,0.0,16.2,1.1,0.1,0.7,...,0.0,17.5,28.1,2.0,40.0,0.1,11.6,0.4,0.1,0.1
4,PHILIPPINES,13.9,27.5,1.5,15.0,5.5,34.1,1.1,0.0,1.5,...,0.2,5.5,20.6,0.7,29.5,0.5,39.2,1.6,1.6,0.7

### Part 2

In [7]:
# Check the mean of the columns

2016 Alone                      15.890909
2016 With Spouse                34.202273
2016 With Children               1.275000
2016 With Family/Relatives      20.434091
2016 Student Group               0.715909
2016 With Friends               20.300000
2016 With Business Associate     3.088636
2016 With Incentive Group        1.065909
2016 Others                      0.768182
2017 Alone                      12.447727
2017 With Spouse                32.413636
2017 With Children               1.184091
2017 With Family/Relatives      27.325000
2017 Student Group               0.647727
2017 With Friends               22.202273
2017 With Business Associate     1.663636
2017 With Incentive Group        0.995455
2017 Others                      1.106818
2018 Alone                       7.477273
2018 With Spouse                31.693182
2018 With Children               1.325000
2018 With Family/Relatives      28.638636
2018 Student Group               1.179545
2018 With Friends               25.368182
2018 With Business Associate     2.143182
2018 With Incentive Group        1.445455
2018 Others                      0.738636
dtype: float64

In [8]:
# Reduce columns where mean of traveling companions is > 1 across all years

# Set index to "Country of Nationality"

,2016 Alone,2016 With Spouse,2016 With Children,2016 With Family/Relatives,2016 With Friends,2016 With Business Associate,2017 Alone,2017 With Spouse,2017 With Children,2017 With Family/Relatives,2017 With Friends,2017 With Business Associate,2018 Alone,2018 With Spouse,2018 With Children,2018 With Family/Relatives,2018 With Friends,2018 With Business Associate
COUNTRY OF NATIONALITY,,,,,,,,,,,,,,,,,,
SINGAPORE,18.6,35.5,3.9,23.7,14.7,2.2,20.6,39.4,5.9,22.9,9.3,1.1,16.9,34.6,5.0,25.3,14.4,0.6
THAILAND,30.1,16.7,0.9,12.0,30.2,4.8,23.2,17.8,4.2,11.8,29.3,4.8,20.6,6.7,7.2,33.5,29.8,0.4
INDONESIA,12.9,24.6,3.8,37.9,14.9,2.1,10.4,28.0,3.9,34.9,15.5,2.7,11.3,31.1,4.0,34.4,14.7,0.7
BRUNEI,10.2,24.9,2.2,44.5,16.2,1.1,6.8,21.2,2.2,54.5,14.2,0.8,17.5,28.1,2.0,40.0,11.6,0.4
PHILIPPINES,13.9,27.5,1.5,15.0,34.1,1.1,3.5,7.6,0.2,40.0,46.4,1.9,5.5,20.6,0.7,29.5,39.2,1.6
VIETNAM,5.8,11.5,0.6,31.0,35.5,2.7,2.8,11.5,0.7,37.0,32.5,1.1,0.9,12.3,2.8,44.2,30.2,0.6
CHINA,4.2,30.9,0.7,37.8,18.4,1.3,1.9,30.4,0.7,42.0,20.4,0.5,1.9,23.9,0.7,39.3,22.1,1.1
JAPAN,10.9,26.5,0.6,16.4,18.4,25.6,8.4,30.3,0.0,20.0,25.4,8.5,4.2,22.7,0.2,26.3,25.3,17.4
SOUTH KOREA,9.4,36.3,0.6,16.3,28.1,8.1,4.6,36.8,1.3,33.2,19.5,1.6,1.6,29.1,0.1,33.5,28.7,1.0
TAIWAN,7.8,55.7,1.2,24.6,9.3,0.3,1.5,55.7,0.2,36.3,5.2,0.2,0.3,28.1,0.0,34.3,31.4,1.5
INDIA,5.9,30.1,1.3,44.3,12.1,3.3,4.8,23.9,0.5,53.0,11.3,2.1,1.4,19.2,1.0,49.6,19.3,1.1
PAKISTAN,12.3,21.3,1.3,28.3,16.5,8.0,6.4,20.3,0.6,31.6,16.4,6.4,4.3,24.2,0.6,29.2,26.4,5.3
SAUDI ARABIA,3.3,53.9,0.4,36.5,4.7,0.9,3.1,48.4,0.4,43.6,4.0,0.4,1.1,49.9,0.3,43.7,4.2,0.7
UNITED ARAB EMIRATES,11.6,51.2,4.7,20.9,7.0,4.7,4.3,14.9,0.0,61.7,10.6,0.0,1.6,32.2,0.8,50.2,5.5,2.0
OMAN,11.3,35.5,1.6,50.0,0.0,1.6,0.9,33.3,0.0,52.6,12.3,0.0,1.2,46.6,0.0,47.1,3.9,0.0
KUWAIT,0.0,75.0,0.0,25.0,0.0,0.0,3.7,14.8,0.0,81.5,0.0,0.0,0.5,25.2,0.5,53.3,5.7,7.1
IRAN,3.5,18.9,0.2,60.5,15.2,0.9,1.4,22.1,0.7,63.8,9.9,1.4,1.4,27.0,0.0,58.7,11.0,1.0
CANADA,27.6,38.7,1.1,7.5,24.2,0.9,28.9,33.4,0.2,4.1,32.6,0.3,12.5,36.0,0.4,18.4,28.9,1.0
USA,29.5,40.8,0.7,6.2,18.1,4.0,21.7,40.1,1.6,8.9,22.8,2.3,14.7,38.4,0.7,12.2,30.7,2.3
UNITED KINGDOM,23.0,42.7,0.4,9.6,22.1,2.0,15.5,46.3,0.3,13.7,20.1,2.6,10.8,38.5,0.8,19.4,28.0,1.3
IRELAND,25.3,44.8,1.1,10.3,16.1,0.0,17.2,48.4,0.0,11.9,21.1,0.0,11.9,43.8,1.5,15.4,26.5,0.5
SWEDEN,12.4,47.9,1.3,17.9,18.8,0.9,11.4,48.4,0.0,17.8,20.3,0.0,4.3,42.6,0.3,15.7,33.1,3.5
DENMARK,11.9,31.9,3.0,19.3,31.1,3.0,26.1,20.9,1.5,14.9,32.1,3.0,14.0,36.5,0.0,22.1,25.4,1.2
FINLAND,20.1,41.5,2.5,15.1,17.6,2.5,8.3,35.2,0.7,4.8,49.7,0.7,14.0,36.5,0.5,7.0,41.0,0.5
NORWAY,18.6,47.5,0.0,1.7,32.2,0.0,27.6,51.7,0.0,10.3,10.3,0.0,4.5,26.1,0.0,9.7,48.5,0.0
ITALY,15.0,40.9,0.8,7.9,30.7,4.3,21.3,34.1,0.7,8.9,27.1,7.1,7.8,32.5,0.3,15.7,40.6,2.5
SPAIN,14.2,41.6,0.4,5.3,35.8,2.7,10.8,34.0,0.3,12.1,41.3,1.0,9.4,42.4,0.2,15.2,31.8,0.9
FRANCE,19.4,40.0,0.9,14.0,22.4,1.4,18.7,36.7,1.2,16.9,25.2,0.2,8.3,33.4,1.2,23.3,31.7,0.8
BELGIUM,31.2,19.4,2.2,18.3,29.0,0.0,26.5,37.2,1.4,14.1,19.4,0.0,5.7,31.1,1.2,20.5,34.9,6.6
NETHERLANDS,17.5,34.6,1.9,19.6,23.2,1.9,12.5,40.4,0.5,22.7,22.7,0.8,10.2,39.2,0.3,16.4,32.5,0.7
GERMANY,19.3,42.1,0.5,7.7,27.4,2.7,16.8,38.6,0.6,6.5,36.1,1.3,9.4,42.9,1.6,11.1,32.2,1.1
SWITZERLAND,21.3,44.3,0.9,8.3,23.0,0.4,28.7,28.7,0.0,6.5,35.6,0.5,13.7,30.0,0.4,15.6,40.3,0.0
RUSSIA,28.6,26.5,1.6,15.3,26.5,1.6,14.4,29.6,2.7,23.4,29.2,0.7,8.0,31.0,1.2,24.7,32.5,1.7
AUSTRALIA,18.3,45.8,0.7,14.4,17.5,1.6,15.0,40.1,0.4,12.1,29.7,0.9,9.7,41.6,1.1,19.2,25.3,1.2
NEW ZEALAND,11.4,43.4,0.3,17.8,21.5,5.1,12.1,41.3,0.0,18.5,25.4,2.2,13.3,34.6,4.2,19.2,25.6,1.8
SOUTH AFRICA,39.7,37.0,0.0,11.0,8.2,4.1,24.2,42.4,0.0,27.3,6.1,0.0,3.3,30.3,2.0,36.8,20.4,3.9
CENTRAL ASIA,11.4,23.8,0.9,17.3,29.0,2.2,6.5,27.8,2.0,29.8,21.4,3.2,3.9,24.4,0.7,31.7,20.7,1.1
OTHER ASEAN,31.4,5.7,0.0,8.6,48.6,5.7,6.7,17.8,2.2,33.3,33.4,0.0,0.8,23.1,0.3,46.1,28.1,0.2
OTHER EAST ASIA,0.0,0.0,0.0,0.0,0.0,0.0,3.0,16.2,0.0,48.1,24.5,2.0,2.3,16.0,0.8,48.3,20.7,6.8
OTHERS SOUTH ASIA,2.7,15.3,2.7,39.6,13.5,8.1,6.0,27.7,0.6,43.4,18.7,3.6,5.2,30.4,1.0,43.3,15.6,2.0
OTHERS WEST ASIA,9.3,29.0,1.4,33.8,19.7,4.8,17.1,30.2,2.1,10.6,39.3,0.7,6.2,29.6,0.6,21.7,39.0,1.7
OTHERS AMERICAS,28.5,36.3,3.4,11.7,18.4,1.7,15.6,34.3,0.8,17.8,30.4,0.9,9.3,33.0,0.6,18.8,36.7,1.4
OTHERS EUROPE,23.2,39.9,0.6,11.7,21.7,2.7,8.5,31.2,1.1,36.0,18.3,1.8,5.3,32.0,0.8,33.0,20.2,3.2
OTHERS,16.7,27.5,1.3,24.5,21.6,2.9,18.3,57.1,9.7,7.5,1.9,3.9,18.3,57.1,9.7,7.5,1.9,3.9