# Students Do: Clustering costumers for e-commerce

Once you have prepared the data, it's time to start looking for patterns that could lead you to define customer clusters. After talking with the CFO of the company about the next quarter goals, you figured out that one way to understand customers, from the available data, is to cluster them according to their spending capacity, however you have to find how many groups you can define.

You decide to use your new unsupervised learning skills and put k-means in action!

In [1]:
# Initial imports
import pandas as pd
from sklearn.cluster import KMeans
from pathlib import Path
import matplotlib.pyplot as plt

## Instructions

Accomplish the following tasks and use K-Means to cluster the customers data.

 * Load the data

In [2]:
# Loading data
file_path = Path("../Resources/shopping_data_cleaned.csv")
df_shopping = pd.read_csv(file_path)
df_shopping.head()

   Gender  Age  Annual Income  Spending Score (1-100)
0       1   19           15.0                      39
1       1   21           15.0                      81
2       0   20           16.0                       6
3       0   23           16.0                      77
4       0   31           17.0                      40

In [3]:
# Identify the best number of clusters using the elbow curve

In [4]:
# Plot the elbow curve to find the best candidate(s) for k

* (Optional) Create a function called `get_clusters(k, data)` that finds the `k` clusters using K-Means on `data`. The function should return a DataFrame copy of `Data` that should include a new column containing the clusters found.

In [5]:
# get_clusters function

* Create a function called show_clusters(df) that will create a scatter plot of a dataframe's Annual Income and Spending Score (1-100) columns, and color by the cluster.

In [6]:
# show_clusters function

* Create a 2D-Scatter plot to analyze the clusters using `x="Annual Income"` and `y="Spending Score (1-100)"`.

**Analyzing Clusters with the First Best Value of `k`**