In [1]:
from sklearn.preprocessing import normalize
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.cluster import AgglomerativeClustering
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
import pandas as pd
file = Path('../Resources/wholesale_customers.csv')

In [3]:
df = pd.read_csv(file)

In [4]:
df.sample(10)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
330,1,2,9790,1786,5109,3570,182,1043
132,1,3,14903,2032,2479,576,955,328
403,1,3,25606,11006,4604,127,632,288
58,1,3,13779,1970,1648,596,227,436
398,1,3,11442,1032,582,5390,74,247
413,1,3,4983,4859,6633,17866,912,2435
16,2,3,1020,8816,12121,134,4508,1080
222,1,1,5041,1115,2856,7496,256,375
148,1,3,5924,584,542,4052,283,434
256,1,1,11092,5008,5249,453,392,373

In [5]:
# YOUR CODE HERE